@font-face {
    font-family: Comfortaa;
    src: url('./saffron/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: Comfortaa Light;
    src: url('./saffron/Comfortaa-Light.ttf');
}

@font-face {
    font-family: Comfortaa Medium;
    src: url('./saffron/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: Comfortaa SemiBold;
    src: url('./saffron/Comfortaa-SemiBold.ttf');
}

@font-face {
    font-family: Comfortaa Bold;
    src: url('./saffron/Comfortaa-Bold.ttf');
}
